.random-choices div {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0.5rem;
}


.random-choices-buttons {
  display: flex;
  justify-content: center;
}


.random-choices-buttons > button {
  margin: 0 0.25rem;
}

.random-choices-choices-list {
  align-items: center;
  flex-wrap: wrap;
}

.random-choices-choices-list span {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.random-choices-choices-inputs {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.random-choices-choices-inputs div {
  align-items: center;
}

.random-choices-choices-inputs i {
  margin-left: 1rem;
}

.random-choices-choices-inputs i:hover {
  cursor: pointer;
}

.random-choices-choices-inputs input {
  margin: 0.5rem 0.5rem;
}

.random-choices-result,
.random-choices-calculating {
  flex-direction: column;
}

